// Color Scheme

$color-red: #ef6461;
$color-green: #92dce5;
$color-grey: #56585c;
$color-white: #ffffff;
$color-black: #000000;


// Tipography

    //Font Family
$futura: 'Futura', sans-serif;

    // Font Weight
$light-font: 400;
$regular-font: 500;
$bold-font: 700;


    // Font Sizes
$large: 1.7rem;
$medium: 1.5rem;
$regular: 1.25rem;
$small: 1rem;

